<!DOCTYPE html>
<html lang="es-ES">
    <head>
        {%block title%} <title>Digital Distribution Games</title>{%endblock%}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'IMG/logo.ico'%}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 


    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark" id="caja1">
                <a class= "logo" href="{%url 'index' %}"><img src="{% static 'IMG/logo2.png' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'Origin' %}">Origin</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'Steam' %}">Steam</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'Contacto' %}">Contactanos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'juegos' %}">Juegos</a>
                    </li>

                    
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
              {% block content %}{% endblock %}
        </header>
        <footer class="page-footer font-small blue" id= "cajaFooter">
 

          <div class="container-fluid text-center text-md-left">
        

            <div class="row">
        

              <div class="col-md-6 mt-md-0 mt-3">

                <a class= "logo" href="{%url 'index' %}" ><img src="{% static 'IMG/logo2.png' %}"></a>
       
        
              </div>

        
              <hr class="clearfix w-100 d-md-none pb-3">
        
              <div class="col-md-3 mb-md-0 mb-3">
        

                <h5 class="text-uppercase" style="color: darkcyan;">Acerca de Nosotros</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a style="color: azure;" >Somos una distribuidora de juegos digitales confiable y segura, no lo dudes.
                      ¿porque digital? Actualmente se ha sabido que la venta de juegos digitales lleva la delantera
                      al ser de entrega inmediata y de facil acceso, por lo que nos hemos inclinado por la opción digital.
       
                    </a>
                  </li>
                  <li>
                    <a href="{%url 'Contacto' %}">¿Quieres Contactarnos?</a>
                  </li>
                </ul>
        
              </div>

        
            </div>

        
          </div>

        

          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a class="colorfuente"  href="{%url 'index' %}"> Digital Distribution Games (DigiDiGames.net)</a>
          </div>

        
        </footer>
</html>
