{% extends "base_generic.html" %}
{% block content %}
{% load static %}

<div class= "caja2">
    <h1>Steam</h1>

</div>

<div class= "fila" >
    <div class= "columnas"><a href="{%url 'Pago' %}" target="_Blank" class = "Games"><img src="{% static 'IMGSTEAM/g1.jpg' %}" alt="Imagen1" ></a></div>
    <div class= "columnas"><a href="{%url 'Pago' %}" target="_Blank" class = "Games"><img src="{% static 'IMGSTEAM/g2.jpg' %}" alt="Imagen2"></a></div>
<br>

</div>
<div class= "fila" >
    <div class= "columnas"><a href="{%url 'Pago' %}" target="_Blank" class = "Games"><img src="{% static 'IMGSTEAM/g3.jpg' %}" alt="Imagen3"></a></div>
    <div class= "columnas"><a href="{%url 'Pago' %}" target="_Blank" class = "Games"><img src="{% static 'IMGSTEAM/g4.jpg' %}" alt="Imagen4"></a></div>
<br>

</div>
<div class= "fila" >
    <div class= "columnas"><a href="{%url 'Pago' %}" target="_Blank" class = "Games"><img src="{% static 'IMGSTEAM/g5.jpg' %}" alt="Imagen5" ></a></div>
    <div class= "columnas"><a href="{%url 'Pago' %}" target="_Blank" class = "Games"><img src="{% static 'IMGSTEAM/g6.jpg' %}" alt="Imagen6"></a></div>
</div>

</body>
{%endblock%}
</html>